# Excel Extract: Book 4

## Extract files using file depths

In [1]:
import glob
import os
import pandas as pd
import re
import jellyfish
import numpy as np
import itertools
import seaborn as sns
sns.set()
from collections import Counter

In [2]:
from inspect import getouterframes, currentframe
import os

def runrec(src):
    '''
    Modified function from link above
    to yield tuples where the [1] index
    of each tuple is an int representing
    the depth of that dir or file in 
    the system.
    '''
    level = len(getouterframes(currentframe()))
    yield (src, level)
    for x in os.listdir(src):
        srcname = os.path.join(src, x)
        if os.path.isdir(srcname):
            yield from runrec(srcname)
        else:
            yield (srcname,level+1)

a = list(runrec(r"Z:\Data\Surveys\Quarterly Mutual Fund Survey\2018") )

def groupings(list_of_tuples):
    '''
    Takes in a list_of_tuples, where the 
    [0] index is a path name and the [1]
    index is the depth. Returns a dict
    where the keys are the depths and 
    the paths are a list assigned to the
    keys.
    '''
    groups = {}
    for i in list_of_tuples:
        if i[1] in groups.keys():
            groups[i[1]].append(i[0]) # groups = {i[k]:['path1','path2'...], ...}
        else:
            groups[i[1]] = [i[0]]
        
    return groups

d = groupings(a)

def largest_group(dict_of_lists):
    '''
    Takes in the above output and
    finds largest group. Outputs
    group as a list.
    '''
    values = list(map(lambda x: len(dict_of_lists[x]), dict_of_lists.keys()))
    index_max = max(range(len(values)), key=values.__getitem__)
    key_with_most_paths = list(dict_of_lists.keys())[index_max]
    return dict_of_lists[key_with_most_paths]

#Right now this function naively finds the largest grouping of files at a given depth in the file tree. A ui version would suggest groupings of files to the user, by descending group size. 

list_of_files = largest_group(d) # stored in hardcoded2

## Scanning and Scraping Columns from the file list

The problem is that surveys often are not formatted identically. One option is to hardcode a set of rules that fail if the survey deviates. A better solution might be to loop through the files, locate a target sheet, and locate target columns. In a ui, the user might supply the target sheet and target columns. The loop could ask for clarigying input when it finds targets too disimilar to the supplied objective.

### Road map:
1. **Sheet Process**
    - User input sheet name objective OR group similar targets and suggest
    - generate list_of_sheets from list_of_files
    - check list_of_sheets for targets that match objective, and request clarification if there are gaps
<br>
<br>
2. **Column Process**
    - User input columns objective
    - check target sheet for columns objective and if found, organize and append data to master table

### 1. Sheet Process

Let's explore if we can group sheet names:

In [3]:
def list_of_sheets(list_of_files):
    '''
    '''
    dict_of_sheets = {}
    
    common_substring = os.path.commonprefix(list_of_files)
    
    for file in list_of_files:
        try:
            dict_of_sheets[file.split(common_substring)[1]] = list(pd.read_excel(file, sheet_name = None).keys())
        except:
            print('The following file could not be read as an excel: {}'.format(file))
    
    return dict_of_sheets

Upon reflection, a better process might be to generate a flat list of sheet names, recommend one of the top ones and use that as the sheet objective.

In [4]:
def sheet_name_freq(list_of_files):
    '''
    '''
    sheet_freq = []
    
    for file in list_of_files:
        try:
            sheets = list(pd.read_excel(file, sheet_name = None).keys())
        except:
            print('\nThe following file could not be read as an excel: {}'.format(file))
        
        sheet_freq += sheets
    
    return Counter(sheet_freq)

Choose one the most frequent sheet names, eg. Load Survey, and then check which files have a sheet which can be loosely matched to this objective.

In [5]:
sheet_objective = 'Load Survey'

In [6]:
# list of list output for POC for matching_sheet_objective()
def sheet_name_freq_list(list_of_files):
    '''
    '''
    sheet_freq = []
    
    for file in list_of_files:
        try:
            sheets = list(pd.read_excel(file, sheet_name = None).keys())
            sheet_freq.append(sheets)
        except:
            print('\nThe following file could not be read as an excel: {}'.format(file))
    
    return sheet_freq

In [7]:
def matching_sheet_objective(objective, list_of_files):
    '''
    '''
    dict_of_df = {}
    
    common_substring = os.path.commonprefix(list_of_files)
    
    for file in list_of_files:
        
        try:
            curr_df = pd.read_excel(file, sheet_name = None)
        except:
            print('\nThe following file could not be read as an excel: {}'.format(file))
    
        curr_sheets = list(curr_df.keys())
        
        if objective in curr_sheets:
            dict_of_df[file.split(common_substring)[1]] = curr_df[objective]
        
        else:
            
            print('No targets match objective. Prompt user for input') # prompt user for guided input
            '''
            print('\nObjective sheet: "{}" is not in list of sheet targets: ')
            
            for i in range(len(curr_sheets)):
                print('{}. {}'.format(i,curr_sheets[i]))
            
            choice = input('Enter the number of the correct above target. Enter nothing to skip: ')
            
            if choice == '':
                print('Skipped. No sheets from the following file were imported: {}'.format(choice,file))
                
            elif int(choice) in range(len(curr_sheets)):
                dict_of_df[file.split(common_substring)[1]] = curr_df[curr_sheets[int(choice)]]
                print('{} was imported.'.format(curr_sheets[int(choice)]))
            
            else:
                print('"{}" is not a valid input. No sheets from the following file were imported: {}'.format(choice,file))
            '''
    return dict_of_df

In [8]:
matchedSheets = matching_sheet_objective(sheet_objective,list_of_files)

No targets match objective. Prompt user for input
No targets match objective. Prompt user for input

The following file could not be read as an excel: Z:\Data\Surveys\Quarterly Mutual Fund Survey\2018\Q1\Received\AVISO\RE Quarterly mutual fund survey - provincial data inquiries.msg
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input

The following file could not be read as an excel: Z:\Data\Surveys\Quarterly Mutual Fund Survey\2018\Q1\Received\Manulife\RE Quarterly mutual fund survey - provincial data inquiries.msg
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input

The following file could not be read as an excel: Z:\Data\Surveys\Quarterly Mutual Fund Survey\2018\Q2\Received\Bridgehouse\FW Strategic Insight Quarterly Mutual Funds Survey Q2 2018.msg
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input

The following file could not be read as an excel: Z:\Data\Surveys\Quarterly Mutual Fund Survey\2018\Q2\Received\Mackenzie\RE Quarterly mutual fund survey inquiries.msg

The following file could not be read as an excel: Z:\Data\Surveys\Quarterly Mutual Fund Survey\2018\Q2\Received\Mackenzie\Revisions
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input

The following file could not be read as an excel: Z:\Data\Surveys\Quarterly Mutual Fund Survey\2018\Q2\Received\PIMCO\RE Quarterly mutual fund survey inquiries.msg
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input

The following file could not be read as an excel: Z:\Data\Surveys\Quarterly Mutual Fund Survey\2018\Q3\Received\Mackenzie\FW Strategic Insight Quarterly Mutual Funds Survey Q3 2018.msg
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input
No targets match objective. Prompt user for input

In [9]:
from IPython.display import display, HTML
keyIndex = list(matchedSheets.keys())
for i in range(10):
    display(matchedSheets[keyIndex[i]])

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Load Funds Survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Company:,AGF Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"For back-end, front-end and low load please in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,All Funds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Date,Load structures,Assets,Gross sales,Redemptions,NaN,NaN,NaN,NaN,NaN
10,Q1 2018,Back-end load,8.81462e+09,2.28241e+08,3.02254e+08,NaN,0.467657,0.256338,0.408099,NaN
11,NaN,Front-end load,8.19465e+09,5.51944e+08,3.38996e+08,NaN,0.434764,0.619888,0.457708,NaN
12,NaN,Low load,8.5355e+08,3.59779e+07,3.74369e+07,NaN,0.045285,0.040407,0.050547,NaN
13,NaN,No load,9.85659e+08,7.42302e+07,6.19519e+07,NaN,0.052294,0.083368,0.083647,NaN
14,NaN,NaN,1.88485e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Please provide the average load (as a percetag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Date,Average load charged in front-load option,NaN,8.90394e+08,7.40638e+08,NaN,NaN,NaN,NaN,NaN
19,Q1 2018,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Please do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Load Funds Survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Company:,NEI Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"For back-end, front-end and low load please in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,All Funds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Date,Load structures,Assets,Gross sales,Redemptions,NaN,NaN,NaN,NaN,NaN
10,Q1 2018,Back-end load,548.466,7.13603,19.5391,NaN,0.096730,0.021518,0.086728,NaN
11,NaN,Front-end load,2682.28,184.387,94.4092,NaN,0.473060,0.555996,0.419053,NaN
12,NaN,Low load,965.57,17.6976,40.9662,NaN,0.170293,0.053365,0.181836,NaN
13,NaN,No load,1473.75,122.413,70.3773,NaN,0.259917,0.369121,0.312383,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Please provide the average load (as a percetag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Date,Average load charged in front-load option,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Q1 2018,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Please do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Load Funds Survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Company:,NEI Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"For back-end, front-end and low load please in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,All Funds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Date,Load structures,Assets,Gross sales,Redemptions,NaN,NaN,NaN,NaN,NaN
10,Q1 2018,Back-end load,548.466,7.13603,19.5391,NaN,0.096730,0.021518,0.086728,NaN
11,NaN,Front-end load,2682.28,184.387,94.4092,NaN,0.473060,0.555996,0.419053,NaN
12,NaN,Low load,965.57,17.6976,40.9662,NaN,0.170293,0.053365,0.181836,NaN
13,NaN,No load,1473.75,122.413,70.3773,NaN,0.259917,0.369121,0.312383,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Please provide the average load (as a percetag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Date,Average load charged in front-load option,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Q1 2018,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Please do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Load Funds Survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Company:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"For back-end, front-end and low load please in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,All Funds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Date,Load structures,Assets,Gross sales,Redemptions,NaN,NaN,NaN,NaN,NaN
10,Q1 2018,Back-end load,1.22656e+09,1.63691e+07,5.27555e+07,NaN,0.022424,0.005821,0.021878,NaN
11,NaN,Front-end load,2.98321e+09,1.68729e+08,1.67807e+08,NaN,0.054539,0.060000,0.069591,NaN
12,NaN,Low load,1.3922e+09,3.07537e+07,6.82841e+07,NaN,0.025452,0.010936,0.028318,NaN
13,NaN,No load,4.90966e+10,2.59629e+09,2.1225e+09,NaN,0.897585,0.923243,0.880214,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Please provide the average load (as a percetag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Date,Average load charged in front-load option,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Q1 2018,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Please do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Load Funds Survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Company:,Bridgehouse Asset Managers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"For back-end, front-end and low load please in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,All Funds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Date,Load structures,Assets,Gross sales,Redemptions,NaN,NaN,NaN,NaN,NaN
10,Q1 2018,Back-end load,4.11691e+08,1.48267e+06,-2.45539e+07,NaN,0.136237,0.008587,0.108591,NaN
11,NaN,Front-end load,8.77781e+08,4.51655e+07,-4.38759e+07,NaN,0.290476,0.261586,0.194044,NaN
12,NaN,Low load,1.2357e+08,1.54531e+06,-9.22904e+06,NaN,0.040892,0.008950,0.040816,NaN
13,NaN,No load,1.60883e+09,1.24466e+08,-1.48454e+08,NaN,0.532395,0.720876,0.656548,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Please provide the average load (as a percetag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Date,Average load charged in front-load option,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Q1 2018,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Please do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Load Funds Survey,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,Company:,CIBC MUTUAL FUNDS,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,"For back-end, front-end and low load please in...",NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,All Funds,NaN,NaN,NaN,NaN
6,Date,Load structures,Assets,Gross sales,Redemptions
7,Q1 2018,Back-end load,0,0,0
8,NaN,Front-end load,0,0,0
9,NaN,Low load,0,0,0
10,NaN,No load,0,0,0
11,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN
13,Please provide the average load (as a percetag...,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN
15,Date,Average load charged in front-load option,NaN,NaN,NaN
16,Q1 2018,0,NaN,NaN,NaN

,Load Funds Survey,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Company:,Renaissance Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"For back-end, front-end and low load please in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,All Funds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Date,Load structures,Assets,Gross sales,Redemptions,NaN,NaN,NaN,NaN
7,Q1 2018,Back-end load,9.18689e+08,1.07172e+07,4.04611e+07,NaN,0.052448,0.008389,0.034936
8,NaN,Front-end load,5904414548,2.15111e+08,4.02674e+08,NaN,0.337083,0.168382,0.347692
9,NaN,Low load,1295241683,2.42273e+07,7.09142e+07,NaN,0.073945,0.018964,0.061231
10,NaN,No load,9.39786e+09,1.02746e+09,6.44086e+08,NaN,0.536524,0.804265,0.556140
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Please provide the average load (as a percetag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Date,Average load charged in front-load option,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Q1 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Load Funds Survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Company:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"For back-end, front-end and low load please in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,All Funds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Date,Load structures,Assets,Gross sales,Redemptions,NaN,NaN,NaN,NaN,NaN
10,Q1 2018,Back-end load,0,0,0,NaN,NaN,NaN,NaN,NaN
11,NaN,Front-end load,0,0,0,NaN,NaN,NaN,NaN,NaN
12,NaN,Low load,0,0,0,NaN,NaN,NaN,NaN,NaN
13,NaN,No load,0,0,0,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Please provide the average load (as a percetag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Date,Average load charged in front-load option,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Q1 2018,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Please do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Load Funds Survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Company:,Dynamic Funds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"For back-end, front-end and low load please in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,All Funds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Date,Load structures,Assets,Gross sales,Redemptions,NaN,NaN,NaN,NaN,NaN
10,Q1 2018,Back-end load,5234.61,0.0305947,-270.749,NaN,0.138295,0.000015,0.118114,NaN
11,NaN,Front-end load,15416,773.867,-804.027,NaN,0.407281,0.371293,0.350756,NaN
12,NaN,Low load,4925.43,105.552,-277.721,NaN,0.130127,0.050643,0.121155,NaN
13,NaN,No load,12275,1204.8,-939.774,NaN,0.324297,0.578050,0.409975,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Please provide the average load (as a percetag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Date,Average load charged in front-load option,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Q1 2018,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Please do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,IE - Load Funds Survey (Quarterly),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Company : FIDELITY INVESTMENTS CANADA ULC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Period : Q1 2018 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Quarter Ending,Load Structures,Assets,Gross Sales,Redemptions,Avg Load Charged in Front-load Option,NaN,NaN,NaN,NaN,NaN
5,Q1 2018,Back-end Load Option,9.37522e+09,3.23329e+08,-2.08628e+08,NaN,NaN,NaN,0.095566,0.061745,0.039100
6,Q1 2018,Front-end Load Option,5.84199e+10,2.5277e+09,-3.01033e+09,0.0%,NaN,NaN,0.595499,0.482708,0.564177
7,Q1 2018,Low Load Option,4.65393e+09,2.33082e+08,-1.67146e+08,NaN,NaN,NaN,0.047440,0.044511,0.031325
8,Q1 2018,No-Load Option,2.56534e+10,2.15239e+09,-1.94968e+09,NaN,NaN,NaN,0.261496,0.411036,0.365397
9,NaN,Sum:,9.81025e+10,5236499135,-5.33579e+09,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,For questions please contact denzil.crasto@fid...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
matchedSheets[list(matchedSheets.keys())[1]]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Load Funds Survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Company:,NEI Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"For back-end, front-end and low load please in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,All Funds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Date,Load structures,Assets,Gross sales,Redemptions,NaN,NaN,NaN,NaN,NaN
10,Q1 2018,Back-end load,548.466,7.13603,19.5391,NaN,0.096730,0.021518,0.086728,NaN
11,NaN,Front-end load,2682.28,184.387,94.4092,NaN,0.473060,0.555996,0.419053,NaN
12,NaN,Low load,965.57,17.6976,40.9662,NaN,0.170293,0.053365,0.181836,NaN
13,NaN,No load,1473.75,122.413,70.3773,NaN,0.259917,0.369121,0.312383,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Please provide the average load (as a percetag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Date,Average load charged in front-load option,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Q1 2018,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Please do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
matchedSheets[list(matchedSheets.keys())[1]]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Load Funds Survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Company:,NEI Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"For back-end, front-end and low load please in...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,All Funds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Date,Load structures,Assets,Gross sales,Redemptions,NaN,NaN,NaN,NaN,NaN
10,Q1 2018,Back-end load,548.466,7.13603,19.5391,NaN,0.096730,0.021518,0.086728,NaN
11,NaN,Front-end load,2682.28,184.387,94.4092,NaN,0.473060,0.555996,0.419053,NaN
12,NaN,Low load,965.57,17.6976,40.9662,NaN,0.170293,0.053365,0.181836,NaN
13,NaN,No load,1473.75,122.413,70.3773,NaN,0.259917,0.369121,0.312383,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Please provide the average load (as a percetag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Date,Average load charged in front-load option,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Q1 2018,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Please do not include Institutional series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2. Column Process

Using the dict of pandas dataframe objects in matchedSheets, develop an algorithm to find column header targets. Ideally, a list of objective targets could be found and suggested. The key for each dataframe will have to be parsed to provide information about the frame and to populate some columns (eg. Sponsor).

In [13]:
chr(ord('A') + 2)

'C'